

<body class="bg-gray-100 text-gray-900">
  <app-header></app-header>

  <app-side-bar></app-side-bar>

  <!-- Main Content -->
  <div class="ml-64 p-8 pt-16 h-[calc(100vh-8rem)] justify-between overflow-auto">
    <div class="flex flex-end justify-between items-center mb-8">
      <div class="flex-col">
        <h1 class="text-2xl font-bold mb-6">Role List</h1>
       <!-- Filter Dropdown -->
       <select name="role_status" id="role_status" class="rounded bg-blue-500 w-50 p-2 text-white"
       (change)="onStatusChange($event)">
       <option value="1">Active</option>
       <option value="0">Inactive</option>
     </select>
      </div>
      <button (click)="openModal()" class="bg-blue-500 text-white rounded p-2">Add New Role</button>
    </div>
    <div class="flex flex-col lg:flex-row justify-between w-full m-0">
      <table class="min-w-full bg-white">
        <thead>
          <tr>
            <th class="text-left py-2 px-4 border-b">Role Name</th>
            <th class="text-left py-2 px-4 border-b">Status</th>
            <th class="text-center py-2 px-4 border-b">Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- an email symbol => &#64; -->
          <ng-container *ngFor="let role of paginatedRoles; let i = index">
            <tr *ngIf="role.is_active == selectedStatus" [id]="'role-' + role.id" class="role-item">
              <td class="py-2 px-4 border-b" style="display: none;">{{ role.id }}</td>
              <td class="py-2 px-4 border-b {{ role.is_active == '1' ? 'Active' : 'Inactive' }}">
                {{ role.role_name }}
              </td>
              <td class="py-2 px-4 border-b {{ role.is_active == '1' ? 'Active' : 'Inactive' }}">
                {{ role.is_active == '1' ? 'Active' : 'Inactive' }}
              </td>
              <td class="py-2 px-4 border-b flex flex-row justify-center g-2 text-center {{ role.is_active == '1' ? 'Active' : 'Inactive' }}">
                <button (click)="openEditModal(role)" class="bg-yellow-500 text-white p-2 rounded w-20 mr-2">Edit</button>
                <button (click)="openDeleteModal(role)" class="bg-red-500 text-white p-2 rounded w-20">Delete</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
        <div class="mt-4 flex justify-center space-x-2">
          <button
            (click)="goToPage(currentPage - 1)"
            [disabled]="currentPage === 1"
            class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
            Previous
          </button>

          <button
            *ngFor="let page of [].constructor(totalPages); let i = index"
            (click)="goToPage(i + 1)"
            [class.bg-blue-500]="currentPage === i + 1"
            [class.text-white]="currentPage === i + 1"
            class="px-4 py-2 border rounded hover:bg-blue-400 hover:text-white">
            {{ i + 1 }}
          </button>

          <button
            (click)="goToPage(currentPage + 1)"
            [disabled]="currentPage === totalPages"
            class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
            Next
          </button>
        </div>
      </table>
    </div>

    <!-- Add New Role Modal -->
  <div *ngIf="isModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h3 class="text-xl font-semibold mb-4">Add New Role</h3>
      <form [formGroup]="roleForm" (ngSubmit)="saveRole()">
        <div class="mb-4">
          <label for="roleName" class="block text-sm font-medium text-gray-700">Role Name</label>
          <input id="roleName" formControlName="roleName" maxlength="40" class="w-full mt-1 p-2 border border-gray-300 rounded-md" type="text" required />
          <div *ngIf="roleForm.get('roleName')?.invalid && roleForm.get('roleName')?.touched" class="text-red-500 text-sm">
            Role Name is required.
          </div>
        </div>
        <div class="mb-4">
          <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
          <select id="status" formControlName="status" class="w-full mt-1 p-2 border border-gray-300 rounded-md" required>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>
        </div>
        <div class="flex justify-between">
          <button type="button" (click)="closeModal()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-md mr-2">Cancel</button>
          <button type="submit" [disabled]="roleForm.invalid" class="bg-blue-500 text-white px-4 py-2 rounded-md">Save</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Edit Role Modal -->
  <div *ngIf="isEditModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
      <h3 class="text-xl font-semibold mb-4">Edit Role</h3>
      <form [formGroup]="roleForm" (ngSubmit)="updateRole()">
        <div class="mb-4">
          <label for="roleName" class="block text-sm font-medium text-gray-700">Role Name</label>
          <input id="roleName" formControlName="roleName" maxlength="40" class="w-full mt-1 p-2 border border-gray-300 rounded-md" type="text" required />
          <div *ngIf="roleForm.get('roleName')?.invalid && roleForm.get('roleName')?.touched" class="text-red-500 text-sm">
            Role Name is required.
          </div>
        </div>
        <div class="mb-4">
          <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
          <select id="status" formControlName="status" class="w-full mt-1 p-2 border border-gray-300 rounded-md" required>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>
        </div>
        <div class="flex justify-between">
          <button type="button" (click)="closeEditModal()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-md mr-2">Cancel</button>
          <button type="submit" [disabled]="roleForm.invalid" class="bg-blue-500 text-white px-4 py-2 rounded-md">Update</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Delete Confirmation Modal -->
<div *ngIf="isDeleteModalOpen" class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h3 class="text-xl font-semibold mb-4">Are you sure you want to delete this role?</h3>
    <div class="flex justify-between">
      <button type="button" (click)="closeDeleteModal()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-md mr-2">Cancel</button>
      <button type="button" (click)="deleteRole()" class="bg-red-500 text-white px-4 py-2 rounded-md">Delete</button>
    </div>
  </div>
</div>


  <app-footer></app-footer>
